{
    "extends": "eslint-config-airbnb",
    "env": {
        "node": true,
        "browser": true
    },
    "rules": {
        "no-undef": 2,
        "no-use-before-define": [2, { "functions": false }],
        "new-cap": [2, { "capIsNew": false }],
        "no-console": 0,
        "comma-dangle": [2, "never"],
        "semi": [2, "always"],
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": [2, {"code": 120, "tabWidth": 4, "ignoreUrls": true, "ignoreComments": true}],
    }
}
